
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

header h1 {
  color: #fff;
}

header nav {
  background-color: #000;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  background-color: orange;
  width: 100vw;
}


.nav-bar h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

header nav {
  background-color: #000;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: inline;
  font-weight: bold;
}

.form {
  color: #fff;
  background-color: orange;
  border-radius: 10px;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.4);
  width: 300px;
  height: 240px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
}

.form .login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
}

#signup-form {
  opacity: 0;
}

.form .signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  box-shadow: 0px 0px 1px 100vw rgba(255, 255, 255, 0.7);
}

.form .signup-form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
}

.form input {
  color: orange;
}

.form input::placeholder {
  color: orange;
}

.form input:focus {
  outline: 0;
}

.form .btn-group {
  display: flex;
  justify-content: space-between;
}

.form .btn-group .btn {
  padding: 8px 13px;
  border: 0;
  background-color: #fff;
  color: orange;
  border-radius: 5px;
  cursor: pointer;
}

.form .btn-group .btn:active {
  transform: scale(0.98);
}

.form .btn-group .btn:focus {
  outline: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.form-group input{
  border-radius: 5px;
  border: 0;
  padding: 10px;
  margin-top: 5px;
}
